.blog {
    text-align: center;
    h4 {
        // margin-bottom: var(--mb-1);
    }
    p {
        // margin-bottom: var(--mb-2-5);
    }
    &__container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    &__item {
        text-align: start;
        display: flex;
        flex-direction: column;
        // height: 500px;
        border-radius: 10px;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
        img {
            width: 100%;
            height: auto;
            border-radius: 10px 10px 0px 0px;
        }
    }
    &__item-text {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 18px;
        h6 {
            
            margin-bottom: var(--mb-1);
        }
    }
    a {
        color: var(--Royal-blue, #5956E9);
        font-size: 20px;
        // font-weight: 600;
        // line-height: 130%; /* 26px */
        text-decoration-line: underline;
        text-transform: uppercase;
    }
}