
@media screen and (max-width: 320px){

}

@media screen and (min-width: 375px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
}


@media screen and (min-width: 641px){
    .container {
        margin-left: var(--mb-2-5);
        margin-right: var(--mb-2-5);
    }
    .nav {
    height: 60px;

        &__logo {
            width: 200px;
            height: 90px;
            top: 25px;
        }
        &__download {
            font-size: var(--h5-font-size);
            font-weight: var(--font-semi-bold);
            width: 158px;
            height: 50px;
        }
    }
}

@media screen and (min-width: 767px){
    .header {
        padding-top: 0;
        background-image: url("../img/background-header-mid.png");
        height: 1024px;
    }
    .contacts {
        display: flex;
    }
    .nav {
        &__logo {
            top: 55px;
        }
    }

    .home {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 221px;

        &__container {
            // width: 356px;
            margin-top: 70px;
            width: 55%;
            height: 318px;
        }

        &__img {
            width: 200px;
        }
    }
    .about {

        &__container {
            display: flex;
            justify-content: space-between;
        }
    }
    
}
 

@media screen and (min-width: 992px){
    .home {
        margin-top: 67px;

        &__container {
            padding: 40px 23px 41px 30px;
            width: 570px;
            height: 432px;
            margin-right: var(--mb-2-5);
        }
        &__title {
            font-size: var(--h2-font-size);
            line-height: 63.479px;
            font-weight: var(--font-bold);
        }
        &__text {
            // font-size: var(--h4-font-size);
            font-weight: var(--font-semi-bold);
        }

        &__img {
            width: 334px;
        }
        
        &__download img {
            width: 149px;
            height: 47px;
        }
    }
    .about {
        &__img {
            width: 386px;
            height: 526px;
        }
        &__item {
            height: 160px;
            min-width: 570px;
        }
    }
}

@media screen and (min-width: 1200px){
   
   .container{
        margin-left: auto;
        margin-right: auto;
    }
    .header {
        background-image: url("../img/background-header-large.png");
    }
    .nav {

        // &__download {
        // display: block;
        // }
        &__item {
            // color: var(--black);
            display: flex;
            align-items: center;
        }
        &__link {
            display: block;
            margin: 0 1rem;
        }
        &__toggle {
            display: none;
            
        }
    }

}