
@media screen and (max-width: 320px){

}

@media screen and (min-width: 375px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
}


@media screen and (min-width: 641px){
    .container {
        margin-left: var(--mb-2-5);
        margin-right: var(--mb-2-5);
    }
    .nav {
        height: 60px;

        &__logo {
            width: 200px;
            height: 90px;
            top: 25px;
        }
        &__download {
            height: 50px;
            width: 158px;
            h6 {
                font-size: var(--h6-font-size);
                font-weight: var(--font-semi-bold);

            }
        }
    }
    
}

@media screen and (min-width: 767px){
    .header {
        padding-top: 0;
        background-image: url("../img/background-header-mid.png");
        height: 1024px;
    }
    .contacts {
        display: flex;
    }
    .nav {
        &__logo {
            top: 55px;
        }
    }

    .home {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 221px;

        &__container {
            // width: 356px;
            margin-top: 70px;
            width: 55%;
            height: 318px;
        }

        &__img {
            width: 200px;
        }
    }
    .about {

        &__container {
            display: flex;
            justify-content: space-between;
        }
    }

    .features {
        &__container {
            display: flex;
            justify-content: center;
            // align-items: flex-end;
        }
        &__container-right {
            display: flex;
            flex-direction: column;
            .features__item {
                text-align: start;
            }
        }
        &__container-left {
            display: flex;
            flex-direction: column;
            .features__item {
                text-align: end;
            }
        }
        &__img {
            margin: 60px 18px;
        }
        &__item {
            width: auto;
            max-width: 300px;
        }
    }

    .interface {
        &__container {
            margin: 0 40px;
        }
    }
    .download {
        display: flex;
        justify-content: space-between;
    }
    .howtouse {
        &__container {
            background-image: url("../img/howtouse-background-mid.png");

        }
        // margin-bottom: 170px;
    }
    
    .team {
        &__description {
            visibility: hidden;
            position: relative;
            max-width: 601px;
            margin: 0 auto;
            margin-bottom: 60px;
            &::after {
                visibility: visible;
                content:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus tempor, ac nunc libero urna, feugiat.'; 
                display: block;
                position: absolute;
                top: 0;
            }
        }
        &__container {
            flex-direction: row;
        }
        &__item {
            img {
                margin-bottom: 20px;
            }
            h4 {
                font-size: var(--h6-font-size);
            }
            h6 {
                font-size: var(--normal-font-size);
            }
        }
    }
    .customers {
        &__description {
            visibility: hidden;
            position: relative;
            max-width: 601px;
            margin: 0 auto;
            margin-bottom: 60px;
            &::after {
                visibility: visible;
                content:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus tempor, ac nunc libero urna, feugiat.'; 
                display: block;
                position: absolute;
                top: 0;
            }
        }
        background-image: url("../img/customers-background-mid.png");
        .swiper-slide {
            width: 450px;
            height: 250px;
        }
    }
    // .blog {
    //     &__container {
    //         flex-direction: row;
    //     }
    // }
    .footer-contacts {
        height: 150px;
        flex-direction: row;
        top: 75px;
        h5 {
            font-size: var(--normal-font-size);
            font-weight: var(--font-regular);
        }
        &__item {
            width: 50%;
            flex-direction: row;
            img {
                width: 60px;
                height: 60px;
            }
        }
        &__divider {
            width: 4px;
            height: 100%;
            margin: 0 30px;
        }
    }
    .footer {
        padding-top: 75px;
        &__main {
            flex-direction: row;
            justify-content: space-between;

        }
        &__item {
            width: 30%;
        }
        &__social {
            width: 213px;
        }
        &__copyright {
            p {
                font-size: var(--normal-font-size);
                color: var(--white);
            }
            img {
                width: 24px;
                height: 24px;
            }
        }
    }

}
 

@media screen and (min-width: 992px){
    .home {
        margin-top: 67px;

        &__container {
            padding: 40px 23px 41px 30px;
            width: 570px;
            height: 432px;
            margin-right: var(--mb-2-5);
        }
        &__title {
            font-size: var(--h2-font-size);
            line-height: 63.479px;
            font-weight: var(--font-bold);
        }
        &__text {
            // font-size: var(--h4-font-size);
            font-weight: var(--font-semi-bold);
        }

        &__img {
            width: 334px;
        }
        
        &__download img {
            width: 149px;
            height: 47px;
        }
    }
    .about {
        &__description {
            visibility: hidden;
            position: relative;
            margin-bottom: 60px;
            &::after {
                visibility: visible;
                content:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus tempor, ac nunc libero urna, feugiat.'; 
                display: block;
                position: absolute;
                top: 0;
                // background-color: red;
                // padding: 5px;
            }
        }
        &__img {
            width: 386px;
            height: 526px;
        }
        &__item {
            height: 160px;
            min-width: 570px;
            p {
                visibility: hidden;
                position: relative;
                &::after {
                    visibility: visible;
                    content:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit.'; 
                    display: block;
                    position: absolute;
                    top: 0;
                    // background-color: red;
                    // padding: 5px;
                }
            }
        }
    }
    .blog {
        &__container {
            flex-direction: row;
        }
    }
}

@media screen and (min-width: 1200px){
   
   .container{
        margin-left: auto;
        margin-right: auto;
    }
    .header {
        background-image: url("../img/background-header-large.png");
    }
    .nav {

        // &__download {
        // display: block;
        // }
        &__item {
            // color: var(--black);
            display: flex;
            align-items: center;
        }
        &__link {
            display: block;
            margin: 0 1rem;
        }
        &__toggle {
            display: none;
            
        }
    }
    .features {
        &__description {
            visibility: hidden;
            position: relative;
            max-width: 601px;
            margin: 0 auto;
            margin-bottom: 60px;
            &::after {
                visibility: visible;
                content:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus tempor, ac nunc libero urna, feugiat.'; 
                display: block;
                position: absolute;
                top: 0;
            }
        }
        &__img {
            width: 375px;
            height: 812px;
            margin: 60px;
        }
        &__container-right {
            justify-content: space-between;
            .features__item {
                margin: 90px 0;
            }
        }
        &__container-left {
            justify-content: space-between;
            .features__item {
                margin: 90px 0;
            }
        }
        &__item {

            max-width: none;
        }
    }
    .interface {
        &__description {
            visibility: hidden;
            position: relative;
            max-width: 601px;
            margin: 0 auto;
            margin-bottom: 60px;
            &::after {
                visibility: visible;
                content:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus tempor, ac nunc libero urna, feugiat.'; 
                display: block;
                position: absolute;
                top: 0;
            }
        }
        &__container {
            margin: 0 188px;
        }
    }
    .download {
        &__item:first-child {
            max-width: 570px;
        }
        &__cards {
            max-width: 570px;
            div {
                width: 170px;
                height: 176px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                p {
                    text-transform: uppercase;
                }
            }
        }
    }
    .howtouse {
        &__container {
            background-image: url("../img/howtouse-background-large.png");

        }
        
    }
    .customers {
        background-image: url("../img/customers-background-large.png");
        .swiper-slide {

            padding: 40px;
            width: 770px;
            height: 357px;
            h4 {

                font-weight: var(--font-bold);
            }
            img {
                width: 96px;
            }
        }
    }
    .blog {
        &__description {
            visibility: hidden;
            position: relative;
            max-width: 601px;
            margin: 0 auto;
            margin-bottom: 60px;
            &::after {
                visibility: visible;
                content:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus tempor, ac nunc libero urna, feugiat.'; 
                display: block;
                position: absolute;
                top: 0;
            }
        }
        h4 {
            margin-bottom: var(--mb-1-5);
        }
        p {
            margin-bottom: 60px;
        }
        &__item {

            height: 580px;
            width: 370px;
        }
        // &__container {
        //     flex-direction: row;
        // }
    }

    .footer-contacts {
        height: 230px;
        top: 115px;
        padding: 50px;
        // justify-content: space-around;
        h5 {
            font-size: var(--h5-font-size);
            font-weight: var(--font-semi-bold);
        }
        &__item {
            img {
                width: 100px;
                height: 100px;
            }
        }
        &__divider {
            margin: 0 50px;
        }
    }
    .footer {
        padding-top: 115px;
        
    }

}