.header {
    width: 100%;
    background-image: url("../img/background-header-small.png");
    height: auto;
    padding-top: var(--mb-2-5);
    background-size: 100% auto;
    // background-repeat: no-repeat;
    background-color: #cccccc;
    
}

.contacts {
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 4.6rem;

    &__item {
        display: flex;
    }
    &__social {
        display: flex;
        gap: var(--mb-2);
    }
    &__mail, &__phone {
        display: flex;
        color: var(--white);
    }
    &__mail {
        margin-right: 3rem;
    }
    &__img-1, &__img-2 {
        width: 18px;
        height: auto;
        filter: invert(98%) sepia(79%) saturate(6%) hue-rotate(181deg) brightness(104%) contrast(102%);
    }

    &__img-1 {
        margin-right: var(--mb-1);
    }

}

.nav {
    height: 40px;
    background-color: var(--white);
    border-radius: 5px;
    padding: 5px;
    font-size: var(--h5-font-size);
    font-weight: var(--font-semi-bold);

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    &__toggle {
        width: 24px;
        height: auto;
        margin-left: 18px;

    }

    &__item {
        color: var(--black);
    }

    &__list {
        display: flex;
        align-items: center;
    }
    &__link {
        color: var(--black);
        display: none;
        &:first-child {
            margin-left: var(--mb-2);
        }
    }
    &__logo {
        width: 100px;
        height: 60px;
        border-radius: 5px;
        background: var(--white);
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

    }
    &__download {
        font-size: 0.6rem;
        width: 76px;
        height: 34px;
        border-radius: 5px;
        background: var(--royal-blue);
        color: var(--white);
        margin-left: var(--mb-1);
    }
}